:root {
	--h: 200;
	--s: 60%;
	--background: hsl(var(--h), var(--s), 10%);
	--headers: hsl(var(--h), var(--s), 42%);
	--navbar: hsl(var(--h), var(--s), 6%);
	--hover: hsl(var(--h), var(--s), 3%);
	--accent: hsl(0, 0%, 85%);
	--unselected: hsl(var(--h), var(--s), 42%)
}