/*
Conventions I'd like to stick to:
- Comment EVERYTHING (where sensible)
- Relative units for most scaling values (mostly rem and %)
- Colours all taken from variables set up in root (easy global colour scheme changes!!)
- Flex boxes! (for easy management of content allignment and stuff)
- Seperate different "objects" with empty lines (e.g.: all navbar sections together, but a line away from all body sections)
*/

/* Colour Scheme Setup */
:root {
	--h: 200; /* Hue */
	--s: 50%; /* Sauration */
	--background: hsl(var(--h), var(--s), 10%);
	--headers: hsl(var(--h), var(--s), 42%);
	--navbar: hsl(var(--h), var(--s), 6%);
	--nav-hover: hsl(var(--h), var(--s), 3%);
	--accent: hsl(0, 0%, 85%);
	--unselected: hsl(var(--h), var(--s), 42%)
}

/* Body */
body {
    background-color: var(--background);
}

/* Navigation Bar - General */
nav {
	position: fixed; /* Do not change position when scrolling */
	width: 100%;
	font-size: 1.3rem; /* Idk if this is the best way to do this? */
	background-color: var(--navbar);
    box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.5); /* Doesn't need to follow colour scheme as it's a shadow */
}
nav ul {
    display: flex;
    justify-content: left; /* Make list start at the left of the screen */
}
nav li {
	text-align: center;
}
nav a {
    color: var(--headers);
    text-decoration: none;
	display: block; /* Force box to take up entire container for easier clicking */
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
/* Navigation Bar - Hover */
nav li:hover:not(.active, .icon) {
	background-color: var(--nav-hover);
}
nav li:hover:not(.active, .icon) a {
	color: var(--accent);
}
/* Navigation Bar - Active */
nav .active {
	background-color: var(--headers);
}
nav .active a {
	color: var(--accent);
}

/* Main Content - Global */
main {
    padding-top: 2.3rem; /* 0.5+0.5+1.3 from navigation bar */
}

/* Main Content - Homepage */
.home {
    display: flex;
    padding-top: 8rem;
	padding-left: 6.5rem;
	padding-right: 6.5rem;
}
/* Header */
.home header{
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    color: var(--headers);
    margin-right: 6.5rem;
}
.home header h1 {
	font-size: 6rem;
	font-weight: 500;
	width: 47rem;
}
.home header p {
	padding-left: 0.4rem;
	padding-top: 3.5rem;
	width: min(30rem, 100%);
}
/* Login Button */
.home header a{
    width: fit-content;
    height: fit-content;
    margin-top: 2.9rem;
}
.login {
	background-color: var(--headers);
	border-radius: 1rem;
	border-style: none;
	color: var(--navbar);
	padding: 0.5rem 1.5rem;
	text-align: center;
	font-size: 1.5rem;
	text-decoration: none;
}
/* Login Button - Hover */
.login:hover {
	color: var(--accent);
	box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.8);
}
/* Hero Image */
.home aside {
    display: flex;
    height: calc(100vh - 13.3rem);
    width: 100%;
    justify-content: center;
    align-items: center;
}
.home img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 5rem;
    box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.8);
}