/* Navigation Bar */
nav {
	position: fixed;
	top: 0;
	width: 100%;
	font-size: 1.3rem;
	background-color: hsl(201, 50%, 7%);
}
nav ul {
    display: flex;
    justify-content: left;
}
nav li {
	text-align: center;
}
nav a {
    color: hsl(201, 50%, 40%);
    text-decoration: none;
	display: block;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}